<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="testDao" class="io.github.hongweihao.ss09.bean.TestDao"/>

    <bean id="testService" class="io.github.hongweihao.ss09.bean.TestService" scope="prototype">
        <property name="name" value="karl"/>
        <property name="age" value="30"/>
        <property name="testDao" ref="testDao"/>
    </bean>

    <bean id="myBeanFactoryPostProcessor" class="io.github.hongweihao.ss09.MyBeanFactoryPostProcessor"/>
    <bean id="myBeanPostProcessor" class="io.github.hongweihao.ss09.MyBeanPostProcessor"/>
</beans>