<?xml version="1.0" encoding="UTF-8"?>
<beans>

<!--    <bean id="testDao" class="pri.hongweihao.smallspring.bean.TestDao" scope="singleton"/>-->
    <bean id="proxyTestDao" class="pri.hongweihao.smallspring.bean.ProxyTestDao" scope="singleton"/>

    <bean id="testService" class="pri.hongweihao.smallspring.bean.TestService"
          init-method="afterPropertiesSet2"
          destroy-method="destroy2"
          scope="singleton">
        <property name="name" value="karl"/>
        <property name="age" value="30"/>
        <property name="testDao" ref="proxyTestDao"/>
    </bean>

    <bean id="myPostBeanFactoryProcessor" class="pri.hongweihao.smallspring.MyBeanFactoryPostProcessor"/>
    <bean id="myBeanPostProcessor" class="pri.hongweihao.smallspring.MyBeanPostProcessor"/>

    <bean id="contextClosedListener" class="pri.hongweihao.smallspring.event.ContextClosedListener"/>
    <bean id="contextRefreshedListener" class="pri.hongweihao.smallspring.event.ContextRefreshedListener"/>
    <bean id="customerEvent" class="pri.hongweihao.smallspring.event.CustomerEvent"/>
    <bean id="contextClosedListener" class="pri.hongweihao.smallspring.event.CustomerEventListener"/>

</beans>